@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';
@import "~bootstrap/dist/css/bootstrap.min.css";

@include mat-core();

$primary: mat-palette($mat-blue-grey, 500);
$accent: mat-palette($mat-green, 500, A200, A400);
$warn: mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-family: $mat-font-family;
  font-weight: normal;
  padding: 5rem;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

%notification {
  z-index: 1500;
  position: relative;
  color: rgb(255, 255, 255);
}

.notification-info {
  @extend %notification;
  background-color: rgb(23, 162, 184);
}

.notification-success {
  @extend %notification;
  background-color: rgb(40, 167, 69);
}

.notification-error {
  @extend %notification;
  background-color: rgb(220, 53, 69);
}
